[submodule "ros-imu-bno055"]
	path = ros-imu-bno055
	url = https://github.com/dheera/ros-imu-bno055.git
[submodule "sllidar_ros2"]
	path = sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git
[submodule "src/ros-imu-bno055"]
	path = src/ros-imu-bno055
	url = https://github.com/dheera/ros-imu-bno055.git
[submodule "src/sllidar_ros2"]
	path = src/sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git
